@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --font-fam1: 'Inter', sans-serif;
  --font-fam2: 'Bebas Neue', sans-serif;
  --font-fam3: 'Oswald', sans-serif;
  --font-fam4: 'Roboto', sans-serif;

  --small-size: 0.75rem;
  --p-size: 2rem;
  --title1-size: 6rem;
  --second-tile-size: 3rem;
  --medium-size: 4rem;
  --third-tile-size: 4.5rem;

  --title-plan: 2.5rem;

}

.paragraph-type {
  font-family: var(--font-fam1);
  font-size: var(--p-size);
  color: var(--second-color);
  letter-spacing: 1px;
  line-height: 1.2;
  text-align: center;
  font-weight: 500;
}

.title {
  font-size: var(--title1-size);
  font-family: var(--font-fam3);
  text-transform: uppercase;
  color: var(--second-color);
  line-height: 1;
  position: relative;
  margin-bottom: 80px;
}

.title::after {
  content: "";
  height: 5px;
  width: 100%;
  display: block;
  background: var(--linear1);
}

.diff-text {
  font-style: italic;
  font-weight: 700;
}

.second-title {
  color: var(--second-color);
  font-size: var(--second-tile-size);
  white-space: nowrap;
}

.second-title::after {
  content: "";
  height: 5px;
  width: 100%;
  display: block;
  background: linear-gradient(90deg, #E86C2E, #E89A50);
}

.third-title {
  font-size: var(--third-tile-size);
  font-family: var(--font-fam3);
  text-transform: uppercase;
  color: var(--second-color);
  line-height: 1;
  position: relative;
}

.title-plan {
  font-size: var(--p-size);
  font-family: var(--font-fam3);
  color: var(--second-color);
  line-height: 1;
  text-transform: uppercase;
  position: relative;
  font-weight: 700;
}

.price {
  font-size: var(--medium-size);
  font-family: var(--font-fam3);
  color: var(--second-color);
  font-weight: 700;
  position: relative;
}

.price::after {
  content: ',00';
  font-size: var(--title-plan);
  font-family: var(--font-fam3);
  color: var(--second-color);
  font-weight: 700;
  position: absolute;
  top: -30px;

}

.month {
  font-size: var(--small-size);
  font-family: var(--font-fam3);
  color: var(--second-color);
  font-weight: 700;
}