.section-about {
  background-image: url(../../media/img/gallery/img_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  position: relative;

  .bg_black {
    background: rgba(0, 0, 0, 0.70);
    backdrop-filter: blur(35px);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .section-about__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5.625rem 0;
    align-items: center;
    z-index: 1;

    .gallery {
      display: grid;
      grid-template-columns: repeat(4, 242px);
      gap: 10px;

      .gallery__box-image {
        height: 250px;
        overflow: hidden;
        width: 100%;
        transition: 0.4s;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }

      .gallery__box-image:hover{
        transform: scale(1.1);
      }
    }

    p {
      margin-bottom: 80px;
    }
  }
}