footer {
  background-color: var(--first-color);
  color: var(--second-color);
  text-transform: uppercase;
  font-family: var(--font-fam3);

  .container-footer {
    padding: 5.625rem 0;
    display: flex;
    flex-direction: column;
    gap: 90px;

    .top-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 45px;

      .left,
      .right {
        display: flex;
        align-items: center;
        gap: 20px;
      }

      .left {
        img {
          width: 7rem;
        }
      }


      .right {
        img {
          width: 3rem;
        }

        .box-social {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;
        }
      }


      @media(max-width:1024px) {
        .left img {
          width: 5rem;
        }

        .right img {
          width: 2rem;
        }
           }
    }

    .bottom-footer {
      display: flex;
      justify-content: space-between;

      .title-footer {
        margin-bottom: 10px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 12px;

        li {
          a {
            color: var(--second-color);
            font-size: var(--text-size2);
            font-size: 1rem;
            font-weight: 200;
            font-family: var(--font-fam1);
          }
        }
      }
    }

  }
}