.section-teachers {
  background-image: url(../../media/img/teachers/teacher.jpg);
  position: relative;

  .title {
    font-size: 4.60rem;
    text-align: right;
    margin-bottom: 30px;
  }

  .paragraph-type {
    text-align: right;
    font-weight: 300;
  }

  @media(max-width:1024px) {
    .paragraph-type {
      font-size: var(--text-size5);
    }
  }

  .section-teachers__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 12rem 0;
    position: relative;

    .right-text {
      width: 555px;
    }

    .left-image {
      position: relative;
      width: 520px;

      .border {
        top: 2%;
        right: -2%;
      }

      .teachers__image-box {
        position: relative;

        img {
          border: 1px solid var(--main-color);
        }
      }
    }
  }

  @media(max-width:800px) {
    .paragraph-type {
      text-align: center;
    }
  }
}


@media(max-width:800px) {
  .section-teachers .title {
    font-size: 3.5rem;
    text-align: center;

    .title::after {
      width: 90%;
      margin: 0 auto;
      margin-top: 5px;
    }
  }

  .left-image {
    display: none;
  }

}

@media(max-width:1024px) {
  .title {
    font-size: var(--medium-size);
  }
}